:root { 
    --cor-de-fundo: rgb(85, 198, 243);
}

body{
    background: rgb(53, 53, 53)
}
.h1{
    background-color: blueviolet;
   
}
.header {
color:rgb(3, 252, 78);
 display: block;   
 padding: 100px solid;
text-align-last: center;
font-size: 90px;
background-color: rgba(5, 5, 71, 0.897);
}
.item-menu {
font-size: 50px;
color: rgb(0, 245, 253);

}